body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.squares {
  display: grid;
  height: 300px;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: auto;
}

.date-time {
  margin: -30px auto;
}

.square {
  width: 350px;
  height: 350px;
  background-color: red; /* which color do you like ? */
}

.square:nth-child(4) {
  grid-column: 2;
}

@media screen and (max-width: 600px) {
  .squares {
    display: flex;
    flex-direction: column;
  }
  .square {
    padding-bottom: 100%;
  }
}
