input {
    border-radius: 7px;
    border: 2px solid gray;
    height: 35px;
    padding: 0 13px 0 13px;
}

input#cvc{
    width: 150px;
}

input#exp-date-month, #exp-date-year{
    width: 50px;
    margin-right: 10px;
}


label {
    padding-bottom: 5px;
    font-size: 15px;
}


.form{
    width: 400px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px; 
}

.date-cvc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

